.Dashboard-Container{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 50px;
    height: 80vh;
    width: 90vw;
    padding: 20px 20px;

}