/* HTML: <div class="loader"></div> */
.loader-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh; /* Semi-transparent white background for the overlay */
  backdrop-filter: blur(10px); /* Apply a blur effect to the background */
  display: flex;
  justify-content: center;
  align-items: center; /* Make sure the loader is on top of everything */
}

.rotation-container {
  animation: rotateClockwise 6s linear infinite;
}

.moon-loader {
  height: 50px;
  width: 50px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -225px;
  margin-left: -200px;
  /* -webkit-animation: spin 4s linear infinite;
  -moz-animation: spin 4s linear infinite;
  animation: rotateClockwise 4s linear infinite; */
}

@-moz-keyframes rotateClockwise {
  100% {
    -moz-transform: rotate(360deg);
  }
}
@-webkit-keyframes rotateClockwise {
  100% {
    -webkit-transform: rotate(360deg);
  }
}
@keyframes rotateClockwise {
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

.moon-loader {
  width: 0px;
  height: 0px;
  box-shadow: 160px 8px 0 #ddeff0, 168px 8px 0 #ddeff0, 176px 8px 0 #ddeff0,
    184px 8px 0 #ddeff0, 192px 8px 0 #ddeff0, 200px 8px 0 #ddeff0,
    208px 8px 0 #ddeff0, 216px 8px 0 #ddeff0, 224px 8px 0 #ddeff0,
    232px 8px 0 #ddeff0, 136px 16px 0 #ddeff0, 144px 16px 0 #ddeff0,
    152px 16px 0 #ddeff0, 160px 16px 0 #bce1e2, 168px 16px 0 #bce1e2,
    176px 16px 0 #bce1e2, 184px 16px 0 #bce1e2, 192px 16px 0 #bce1e2,
    200px 16px 0 #bce1e2, 208px 16px 0 #a8d8d8, 216px 16px 0 #a8d8d8,
    224px 16px 0 #a8d8d8, 232px 16px 0 #a8d8d8, 240px 16px 0 #ddeff0,
    248px 16px 0 #ddeff0, 256px 16px 0 #ddeff0, 120px 24px 0 #ddeff0,
    128px 24px 0 #ddeff0, 136px 24px 0 #bce1e2, 144px 24px 0 #bce1e2,
    152px 24px 0 #bce1e2, 160px 24px 0 #bce1e2, 168px 24px 0 #bce1e2,
    176px 24px 0 #bce1e2, 184px 24px 0 #bce1e2, 192px 24px 0 #bce1e2,
    200px 24px 0 #bce1e2, 208px 24px 0 #a8d8d8, 216px 24px 0 #a8d8d8,
    224px 24px 0 #a8d8d8, 232px 24px 0 #a8d8d8, 240px 24px 0 #c7e6e7,
    248px 24px 0 #c7e6e7, 256px 24px 0 #a8d8d8, 264px 24px 0 #ddeff0,
    272px 24px 0 #ddeff0, 104px 32px 0 #ddeff0, 112px 32px 0 #ddeff0,
    120px 32px 0 #bce1e2, 128px 32px 0 #bce1e2, 136px 32px 0 #bce1e2,
    144px 32px 0 #bce1e2, 152px 32px 0 #bce1e2, 160px 32px 0 #a8d8d8,
    168px 32px 0 #bce1e2, 176px 32px 0 #bce1e2, 184px 32px 0 #bce1e2,
    192px 32px 0 #bce1e2, 200px 32px 0 #bce1e2, 208px 32px 0 #bce1e2,
    216px 32px 0 #bce1e2, 224px 32px 0 #bce1e2, 232px 32px 0 #bce1e2,
    240px 32px 0 #bce1e2, 248px 32px 0 #bce1e2, 256px 32px 0 #c7e6e7,
    264px 32px 0 #c7e6e7, 272px 32px 0 #a8d8d8, 280px 32px 0 #ddeff0,
    288px 32px 0 #ddeff0, 88px 40px 0 #ddeff0, 96px 40px 0 #ddeff0,
    104px 40px 0 #bce1e2, 112px 40px 0 #bce1e2, 120px 40px 0 #bce1e2,
    128px 40px 0 #bce1e2, 136px 40px 0 #a8d8d8, 144px 40px 0 #a8d8d8,
    152px 40px 0 #a8d8d8, 160px 40px 0 #a8d8d8, 168px 40px 0 #a8d8d8,
    176px 40px 0 #bce1e2, 184px 40px 0 #bce1e2, 192px 40px 0 #bce1e2,
    200px 40px 0 #bce1e2, 208px 40px 0 #bce1e2, 216px 40px 0 #bce1e2,
    224px 40px 0 #bce1e2, 232px 40px 0 #bce1e2, 240px 40px 0 #bce1e2,
    248px 40px 0 #c7e6e7, 256px 40px 0 #c7e6e7, 264px 40px 0 #c7e6e7,
    272px 40px 0 #a8d8d8, 280px 40px 0 #a8d8d8, 288px 40px 0 #a8d8d8,
    296px 40px 0 #ddeff0, 304px 40px 0 #ddeff0, 80px 48px 0 #ddeff0,
    88px 48px 0 #a8d8d8, 96px 48px 0 #a8d8d8, 104px 48px 0 #a8d8d8,
    112px 48px 0 #a8d8d8, 120px 48px 0 #a8d8d8, 128px 48px 0 #a8d8d8,
    136px 48px 0 #a8d8d8, 144px 48px 0 #a8d8d8, 152px 48px 0 #a8d8d8,
    160px 48px 0 #a8d8d8, 168px 48px 0 #a8d8d8, 176px 48px 0 #a8d8d8,
    184px 48px 0 #a8d8d8, 192px 48px 0 #a8d8d8, 200px 48px 0 #a8d8d8,
    208px 48px 0 #a8d8d8, 216px 48px 0 #c7e6e7, 224px 48px 0 #c7e6e7,
    232px 48px 0 #c7e6e7, 240px 48px 0 #c7e6e7, 248px 48px 0 #c7e6e7,
    256px 48px 0 #c7e6e7, 264px 48px 0 #c7e6e7, 272px 48px 0 #c7e6e7,
    280px 48px 0 #a8d8d8, 288px 48px 0 #a8d8d8, 296px 48px 0 #a8d8d8,
    304px 48px 0 #a8d8d8, 312px 48px 0 #ddeff0, 72px 56px 0 #ddeff0,
    80px 56px 0 #a8d8d8, 88px 56px 0 #a8d8d8, 96px 56px 0 #a8d8d8,
    104px 56px 0 #a8d8d8, 112px 56px 0 #a8d8d8, 120px 56px 0 #a8d8d8,
    128px 56px 0 #a8d8d8, 136px 56px 0 #a8d8d8, 144px 56px 0 #a8d8d8,
    152px 56px 0 #a8d8d8, 160px 56px 0 #c7e6e7, 168px 56px 0 #c7e6e7,
    176px 56px 0 #c7e6e7, 184px 56px 0 #c7e6e7, 192px 56px 0 #a8d8d8,
    200px 56px 0 #a8d8d8, 208px 56px 0 #a8d8d8, 216px 56px 0 #c7e6e7,
    224px 56px 0 #c7e6e7, 232px 56px 0 #c7e6e7, 240px 56px 0 #c7e6e7,
    248px 56px 0 #c7e6e7, 256px 56px 0 #c7e6e7, 264px 56px 0 #c7e6e7,
    272px 56px 0 #c7e6e7, 280px 56px 0 #a8d8d8, 288px 56px 0 #a8d8d8,
    296px 56px 0 #a8d8d8, 304px 56px 0 #a8d8d8, 312px 56px 0 #a8d8d8,
    320px 56px 0 #ddeff0, 64px 64px 0 #ddeff0, 72px 64px 0 #a8d8d8,
    80px 64px 0 #a8d8d8, 88px 64px 0 #a8d8d8, 96px 64px 0 #a8d8d8,
    104px 64px 0 #a8d8d8, 112px 64px 0 #a8d8d8, 120px 64px 0 #a8d8d8,
    128px 64px 0 #a8d8d8, 136px 64px 0 #a8d8d8, 144px 64px 0 #a8d8d8,
    152px 64px 0 #c7e6e7, 160px 64px 0 #c7e6e7, 168px 64px 0 #c7e6e7,
    176px 64px 0 #c7e6e7, 184px 64px 0 #c7e6e7, 192px 64px 0 #c7e6e7,
    200px 64px 0 #a8d8d8, 208px 64px 0 #a8d8d8, 216px 64px 0 #a8d8d8,
    224px 64px 0 #c7e6e7, 232px 64px 0 #c7e6e7, 240px 64px 0 #c7e6e7,
    248px 64px 0 #c7e6e7, 256px 64px 0 #c7e6e7, 264px 64px 0 #c7e6e7,
    272px 64px 0 #a8d8d8, 280px 64px 0 #a8d8d8, 288px 64px 0 #a8d8d8,
    296px 64px 0 #a8d8d8, 304px 64px 0 #a8d8d8, 312px 64px 0 #a8d8d8,
    320px 64px 0 #a8d8d8, 328px 64px 0 #ddeff0, 56px 72px 0 #ddeff0,
    64px 72px 0 #a8d8d8, 72px 72px 0 #a8d8d8, 80px 72px 0 #a8d8d8,
    88px 72px 0 #a8d8d8, 96px 72px 0 #a8d8d8, 104px 72px 0 #a8d8d8,
    112px 72px 0 #a8d8d8, 120px 72px 0 #a8d8d8, 128px 72px 0 #a8d8d8,
    136px 72px 0 #a8d8d8, 144px 72px 0 #c7e6e7, 152px 72px 0 #c7e6e7,
    160px 72px 0 #c7e6e7, 168px 72px 0 #c7e6e7, 176px 72px 0 #c7e6e7,
    184px 72px 0 #c7e6e7, 192px 72px 0 #c7e6e7, 200px 72px 0 #c7e6e7,
    208px 72px 0 #a8d8d8, 216px 72px 0 #c7e6e7, 224px 72px 0 #c7e6e7,
    232px 72px 0 #c7e6e7, 240px 72px 0 #c7e6e7, 248px 72px 0 #c7e6e7,
    256px 72px 0 #c7e6e7, 264px 72px 0 #c7e6e7, 272px 72px 0 #a8d8d8,
    280px 72px 0 #a8d8d8, 288px 72px 0 #a8d8d8, 296px 72px 0 #a8d8d8,
    304px 72px 0 #a8d8d8, 312px 72px 0 #a8d8d8, 320px 72px 0 #a8d8d8,
    328px 72px 0 #a8d8d8, 336px 72px 0 #ddeff0, 48px 80px 0 #ddeff0,
    56px 80px 0 #a8d8d8, 64px 80px 0 #a8d8d8, 72px 80px 0 #a8d8d8,
    80px 80px 0 #c7e6e7, 88px 80px 0 #c7e6e7, 96px 80px 0 #a8d8d8,
    104px 80px 0 #a8d8d8, 112px 80px 0 #a8d8d8, 120px 80px 0 #a8d8d8,
    128px 80px 0 #c7e6e7, 136px 80px 0 #c7e6e7, 144px 80px 0 #c7e6e7,
    152px 80px 0 #c7e6e7, 160px 80px 0 #c7e6e7, 168px 80px 0 #c7e6e7,
    176px 80px 0 #c7e6e7, 184px 80px 0 #c7e6e7, 192px 80px 0 #c7e6e7,
    200px 80px 0 #c7e6e7, 208px 80px 0 #c7e6e7, 216px 80px 0 #c7e6e7,
    224px 80px 0 #c7e6e7, 232px 80px 0 #c7e6e7, 240px 80px 0 #c7e6e7,
    248px 80px 0 #c7e6e7, 256px 80px 0 #c7e6e7, 264px 80px 0 #c7e6e7,
    272px 80px 0 #bce1e2, 280px 80px 0 #bce1e2, 288px 80px 0 #bce1e2,
    296px 80px 0 #bce1e2, 304px 80px 0 #a8d8d8, 312px 80px 0 #a8d8d8,
    320px 80px 0 #a8d8d8, 328px 80px 0 #a8d8d8, 336px 80px 0 #a8d8d8,
    344px 80px 0 #ddeff0, 40px 88px 0 #ddeff0, 48px 88px 0 #a8d8d8,
    56px 88px 0 #a8d8d8, 64px 88px 0 #a8d8d8, 72px 88px 0 #c7e6e7,
    80px 88px 0 #c7e6e7, 88px 88px 0 #c7e6e7, 96px 88px 0 #c7e6e7,
    104px 88px 0 #a8d8d8, 112px 88px 0 #c7e6e7, 120px 88px 0 #c7e6e7,
    128px 88px 0 #c7e6e7, 136px 88px 0 #c7e6e7, 144px 88px 0 #c7e6e7,
    152px 88px 0 #c7e6e7, 160px 88px 0 #c7e6e7, 168px 88px 0 #c7e6e7,
    176px 88px 0 #c7e6e7, 184px 88px 0 #c7e6e7, 192px 88px 0 #c7e6e7,
    200px 88px 0 #c7e6e7, 208px 88px 0 #c7e6e7, 216px 88px 0 #c7e6e7,
    224px 88px 0 #c7e6e7, 232px 88px 0 #c7e6e7, 240px 88px 0 #c7e6e7,
    248px 88px 0 #c7e6e7, 256px 88px 0 #c7e6e7, 264px 88px 0 #c7e6e7,
    272px 88px 0 #c7e6e7, 280px 88px 0 #bce1e2, 288px 88px 0 #bce1e2,
    296px 88px 0 #bce1e2, 304px 88px 0 #bce1e2, 312px 88px 0 #a8d8d8,
    320px 88px 0 #a8d8d8, 328px 88px 0 #a8d8d8, 336px 88px 0 #a8d8d8,
    344px 88px 0 #a8d8d8, 352px 88px 0 #ddeff0, 40px 96px 0 #ddeff0,
    48px 96px 0 #a8d8d8, 56px 96px 0 #a8d8d8, 64px 96px 0 #a8d8d8,
    72px 96px 0 #c7e6e7, 80px 96px 0 #c7e6e7, 88px 96px 0 #c7e6e7,
    96px 96px 0 #c7e6e7, 104px 96px 0 #c7e6e7, 112px 96px 0 #c7e6e7,
    120px 96px 0 #c7e6e7, 128px 96px 0 #c7e6e7, 136px 96px 0 #c7e6e7,
    144px 96px 0 #c7e6e7, 152px 96px 0 #c7e6e7, 160px 96px 0 #c7e6e7,
    168px 96px 0 #c7e6e7, 176px 96px 0 #c7e6e7, 184px 96px 0 #c7e6e7,
    192px 96px 0 #a8d8d8, 200px 96px 0 #c7e6e7, 208px 96px 0 #c7e6e7,
    216px 96px 0 #c7e6e7, 224px 96px 0 #c7e6e7, 232px 96px 0 #c7e6e7,
    240px 96px 0 #c7e6e7, 248px 96px 0 #c7e6e7, 256px 96px 0 #c7e6e7,
    264px 96px 0 #c7e6e7, 272px 96px 0 #a8d8d8, 280px 96px 0 #bce1e2,
    288px 96px 0 #a8d8d8, 296px 96px 0 #bce1e2, 304px 96px 0 #bce1e2,
    312px 96px 0 #a8d8d8, 320px 96px 0 #a8d8d8, 328px 96px 0 #a8d8d8,
    336px 96px 0 #a8d8d8, 344px 96px 0 #a8d8d8, 352px 96px 0 #ddeff0,
    32px 104px 0 #ddeff0, 40px 104px 0 #a8d8d8, 48px 104px 0 #a8d8d8,
    56px 104px 0 #a8d8d8, 64px 104px 0 #c7e6e7, 72px 104px 0 #c7e6e7,
    80px 104px 0 #c7e6e7, 88px 104px 0 #c7e6e7, 96px 104px 0 #c7e6e7,
    104px 104px 0 #c7e6e7, 112px 104px 0 #c7e6e7, 120px 104px 0 #c7e6e7,
    128px 104px 0 #c7e6e7, 136px 104px 0 #c7e6e7, 144px 104px 0 #c7e6e7,
    152px 104px 0 #c7e6e7, 160px 104px 0 #c7e6e7, 168px 104px 0 #c7e6e7,
    176px 104px 0 #a8d8d8, 184px 104px 0 #a8d8d8, 192px 104px 0 #a8d8d8,
    200px 104px 0 #a8d8d8, 208px 104px 0 #a8d8d8, 216px 104px 0 #c7e6e7,
    224px 104px 0 #c7e6e7, 232px 104px 0 #c7e6e7, 240px 104px 0 #c7e6e7,
    248px 104px 0 #c7e6e7, 256px 104px 0 #c7e6e7, 264px 104px 0 #c7e6e7,
    272px 104px 0 #c7e6e7, 280px 104px 0 #c7e6e7, 288px 104px 0 #c7e6e7,
    296px 104px 0 #c7e6e7, 304px 104px 0 #a8d8d8, 312px 104px 0 #a8d8d8,
    320px 104px 0 #a8d8d8, 328px 104px 0 #a8d8d8, 336px 104px 0 #a8d8d8,
    344px 104px 0 #a8d8d8, 352px 104px 0 #a8d8d8, 360px 104px 0 #ddeff0,
    32px 112px 0 #ddeff0, 40px 112px 0 #a8d8d8, 48px 112px 0 #a8d8d8,
    56px 112px 0 #a8d8d8, 64px 112px 0 #c7e6e7, 72px 112px 0 #c7e6e7,
    80px 112px 0 #c7e6e7, 88px 112px 0 #c7e6e7, 96px 112px 0 #c7e6e7,
    104px 112px 0 #c7e6e7, 112px 112px 0 #c7e6e7, 120px 112px 0 #bce1e2,
    128px 112px 0 #bce1e2, 136px 112px 0 #c7e6e7, 144px 112px 0 #c7e6e7,
    152px 112px 0 #c7e6e7, 160px 112px 0 #c7e6e7, 168px 112px 0 #a8d8d8,
    176px 112px 0 #a8d8d8, 184px 112px 0 #a8d8d8, 192px 112px 0 #a8d8d8,
    200px 112px 0 #a8d8d8, 208px 112px 0 #a8d8d8, 216px 112px 0 #a8d8d8,
    224px 112px 0 #bce1e2, 232px 112px 0 #bce1e2, 240px 112px 0 #bce1e2,
    248px 112px 0 #bce1e2, 256px 112px 0 #bce1e2, 264px 112px 0 #bce1e2,
    272px 112px 0 #c7e6e7, 280px 112px 0 #c7e6e7, 288px 112px 0 #c7e6e7,
    296px 112px 0 #c7e6e7, 304px 112px 0 #c7e6e7, 312px 112px 0 #c7e6e7,
    320px 112px 0 #a8d8d8, 328px 112px 0 #a8d8d8, 336px 112px 0 #a8d8d8,
    344px 112px 0 #a8d8d8, 352px 112px 0 #a8d8d8, 360px 112px 0 #ddeff0,
    24px 120px 0 #ddeff0, 32px 120px 0 #a8d8d8, 40px 120px 0 #a8d8d8,
    48px 120px 0 #a8d8d8, 56px 120px 0 #a8d8d8, 64px 120px 0 #c7e6e7,
    72px 120px 0 #c7e6e7, 80px 120px 0 #c7e6e7, 88px 120px 0 #c7e6e7,
    96px 120px 0 #c7e6e7, 104px 120px 0 #c7e6e7, 112px 120px 0 #bce1e2,
    120px 120px 0 #bce1e2, 128px 120px 0 #bce1e2, 136px 120px 0 #bce1e2,
    144px 120px 0 #c7e6e7, 152px 120px 0 #a8d8d8, 160px 120px 0 #a8d8d8,
    168px 120px 0 #a8d8d8, 176px 120px 0 #a8d8d8, 184px 120px 0 #a8d8d8,
    192px 120px 0 #a8d8d8, 200px 120px 0 #a8d8d8, 208px 120px 0 #a8d8d8,
    216px 120px 0 #bce1e2, 224px 120px 0 #bce1e2, 232px 120px 0 #bce1e2,
    240px 120px 0 #bce1e2, 248px 120px 0 #bce1e2, 256px 120px 0 #bce1e2,
    264px 120px 0 #bce1e2, 272px 120px 0 #bce1e2, 280px 120px 0 #c7e6e7,
    288px 120px 0 #c7e6e7, 296px 120px 0 #c7e6e7, 304px 120px 0 #c7e6e7,
    312px 120px 0 #c7e6e7, 320px 120px 0 #c7e6e7, 328px 120px 0 #c7e6e7,
    336px 120px 0 #a8d8d8, 344px 120px 0 #a8d8d8, 352px 120px 0 #a8d8d8,
    360px 120px 0 #a8d8d8, 368px 120px 0 #ddeff0, 24px 128px 0 #ddeff0,
    32px 128px 0 #a8d8d8, 40px 128px 0 #a8d8d8, 48px 128px 0 #a8d8d8,
    56px 128px 0 #a8d8d8, 64px 128px 0 #bce1e2, 72px 128px 0 #bce1e2,
    80px 128px 0 #bce1e2, 88px 128px 0 #c7e6e7, 96px 128px 0 #c7e6e7,
    104px 128px 0 #c7e6e7, 112px 128px 0 #bce1e2, 120px 128px 0 #bce1e2,
    128px 128px 0 #bce1e2, 136px 128px 0 #bce1e2, 144px 128px 0 #a8d8d8,
    152px 128px 0 #a8d8d8, 160px 128px 0 #a8d8d8, 168px 128px 0 #a8d8d8,
    176px 128px 0 #a8d8d8, 184px 128px 0 #a8d8d8, 192px 128px 0 #a8d8d8,
    200px 128px 0 #a8d8d8, 208px 128px 0 #a8d8d8, 216px 128px 0 #bce1e2,
    224px 128px 0 #bce1e2, 232px 128px 0 #bce1e2, 240px 128px 0 #bce1e2,
    248px 128px 0 #bce1e2, 256px 128px 0 #bce1e2, 264px 128px 0 #bce1e2,
    272px 128px 0 #bce1e2, 280px 128px 0 #c7e6e7, 288px 128px 0 #c7e6e7,
    296px 128px 0 #c7e6e7, 304px 128px 0 #c7e6e7, 312px 128px 0 #c7e6e7,
    320px 128px 0 #c7e6e7, 328px 128px 0 #c7e6e7, 336px 128px 0 #c7e6e7,
    344px 128px 0 #c7e6e7, 352px 128px 0 #c7e6e7, 360px 128px 0 #a8d8d8,
    368px 128px 0 #ddeff0, 16px 136px 0 #ddeff0, 24px 136px 0 #a8d8d8,
    32px 136px 0 #a8d8d8, 40px 136px 0 #a8d8d8, 48px 136px 0 #bce1e2,
    56px 136px 0 #bce1e2, 64px 136px 0 #bce1e2, 72px 136px 0 #bce1e2,
    80px 136px 0 #bce1e2, 88px 136px 0 #bce1e2, 96px 136px 0 #c7e6e7,
    104px 136px 0 #c7e6e7, 112px 136px 0 #bce1e2, 120px 136px 0 #bce1e2,
    128px 136px 0 #bce1e2, 136px 136px 0 #bce1e2, 144px 136px 0 #a8d8d8,
    152px 136px 0 #a8d8d8, 160px 136px 0 #a8d8d8, 168px 136px 0 #a8d8d8,
    176px 136px 0 #a8d8d8, 184px 136px 0 #a8d8d8, 192px 136px 0 #a8d8d8,
    200px 136px 0 #a8d8d8, 208px 136px 0 #a8d8d8, 216px 136px 0 #a8d8d8,
    224px 136px 0 #bce1e2, 232px 136px 0 #bce1e2, 240px 136px 0 #bce1e2,
    248px 136px 0 #bce1e2, 256px 136px 0 #bce1e2, 264px 136px 0 #bce1e2,
    272px 136px 0 #c7e6e7, 280px 136px 0 #c7e6e7, 288px 136px 0 #c7e6e7,
    296px 136px 0 #c7e6e7, 304px 136px 0 #c7e6e7, 312px 136px 0 #c7e6e7,
    320px 136px 0 #c7e6e7, 328px 136px 0 #c7e6e7, 336px 136px 0 #c7e6e7,
    344px 136px 0 #c7e6e7, 352px 136px 0 #c7e6e7, 360px 136px 0 #c7e6e7,
    368px 136px 0 #a8d8d8, 376px 136px 0 #ddeff0, 16px 144px 0 #ddeff0,
    24px 144px 0 #a8d8d8, 32px 144px 0 #a8d8d8, 40px 144px 0 #a8d8d8,
    48px 144px 0 #bce1e2, 56px 144px 0 #bce1e2, 64px 144px 0 #bce1e2,
    72px 144px 0 #bce1e2, 80px 144px 0 #bce1e2, 88px 144px 0 #bce1e2,
    96px 144px 0 #c7e6e7, 104px 144px 0 #c7e6e7, 112px 144px 0 #bce1e2,
    120px 144px 0 #bce1e2, 128px 144px 0 #bce1e2, 136px 144px 0 #bce1e2,
    144px 144px 0 #a8d8d8, 152px 144px 0 #a8d8d8, 160px 144px 0 #a8d8d8,
    168px 144px 0 #a8d8d8, 176px 144px 0 #a8d8d8, 184px 144px 0 #a8d8d8,
    192px 144px 0 #a8d8d8, 200px 144px 0 #a8d8d8, 208px 144px 0 #a8d8d8,
    216px 144px 0 #a8d8d8, 224px 144px 0 #a8d8d8, 232px 144px 0 #a8d8d8,
    240px 144px 0 #bce1e2, 248px 144px 0 #bce1e2, 256px 144px 0 #bce1e2,
    264px 144px 0 #bce1e2, 272px 144px 0 #bce1e2, 280px 144px 0 #c7e6e7,
    288px 144px 0 #c7e6e7, 296px 144px 0 #c7e6e7, 304px 144px 0 #c7e6e7,
    312px 144px 0 #c7e6e7, 320px 144px 0 #c7e6e7, 328px 144px 0 #c7e6e7,
    336px 144px 0 #c7e6e7, 344px 144px 0 #c7e6e7, 352px 144px 0 #c7e6e7,
    360px 144px 0 #c7e6e7, 368px 144px 0 #a8d8d8, 376px 144px 0 #ddeff0,
    8px 152px 0 #ddeff0, 16px 152px 0 #a8d8d8, 24px 152px 0 #a8d8d8,
    32px 152px 0 #a8d8d8, 40px 152px 0 #bce1e2, 48px 152px 0 #bce1e2,
    56px 152px 0 #bce1e2, 64px 152px 0 #bce1e2, 72px 152px 0 #bce1e2,
    80px 152px 0 #bce1e2, 88px 152px 0 #bce1e2, 96px 152px 0 #bce1e2,
    104px 152px 0 #a8d8d8, 112px 152px 0 #bce1e2, 120px 152px 0 #bce1e2,
    128px 152px 0 #bce1e2, 136px 152px 0 #bce1e2, 144px 152px 0 #a8d8d8,
    152px 152px 0 #a8d8d8, 160px 152px 0 #a8d8d8, 168px 152px 0 #a8d8d8,
    176px 152px 0 #a8d8d8, 184px 152px 0 #a8d8d8, 192px 152px 0 #a8d8d8,
    200px 152px 0 #a8d8d8, 208px 152px 0 #a8d8d8, 216px 152px 0 #a8d8d8,
    224px 152px 0 #a8d8d8, 232px 152px 0 #a8d8d8, 240px 152px 0 #bce1e2,
    248px 152px 0 #bce1e2, 256px 152px 0 #bce1e2, 264px 152px 0 #bce1e2,
    272px 152px 0 #bce1e2, 280px 152px 0 #c7e6e7, 288px 152px 0 #c7e6e7,
    296px 152px 0 #c7e6e7, 304px 152px 0 #c7e6e7, 312px 152px 0 #c7e6e7,
    320px 152px 0 #c7e6e7, 328px 152px 0 #c7e6e7, 336px 152px 0 #c7e6e7,
    344px 152px 0 #c7e6e7, 352px 152px 0 #c7e6e7, 360px 152px 0 #c7e6e7,
    368px 152px 0 #c7e6e7, 376px 152px 0 #a8d8d8, 384px 152px 0 #ddeff0,
    8px 160px 0 #ddeff0, 16px 160px 0 #a8d8d8, 24px 160px 0 #a8d8d8,
    32px 160px 0 #bce1e2, 40px 160px 0 #bce1e2, 48px 160px 0 #bce1e2,
    56px 160px 0 #bce1e2, 64px 160px 0 #bce1e2, 72px 160px 0 #bce1e2,
    80px 160px 0 #bce1e2, 88px 160px 0 #bce1e2, 96px 160px 0 #c7e6e7,
    104px 160px 0 #a8d8d8, 112px 160px 0 #c7e6e7, 120px 160px 0 #bce1e2,
    128px 160px 0 #bce1e2, 136px 160px 0 #a8d8d8, 144px 160px 0 #a8d8d8,
    152px 160px 0 #a8d8d8, 160px 160px 0 #a8d8d8, 168px 160px 0 #a8d8d8,
    176px 160px 0 #a8d8d8, 184px 160px 0 #a8d8d8, 192px 160px 0 #a8d8d8,
    200px 160px 0 #a8d8d8, 208px 160px 0 #a8d8d8, 216px 160px 0 #a8d8d8,
    224px 160px 0 #a8d8d8, 232px 160px 0 #bce1e2, 240px 160px 0 #bce1e2,
    248px 160px 0 #bce1e2, 256px 160px 0 #bce1e2, 264px 160px 0 #bce1e2,
    272px 160px 0 #bce1e2, 280px 160px 0 #bce1e2, 288px 160px 0 #c7e6e7,
    296px 160px 0 #c7e6e7, 304px 160px 0 #c7e6e7, 312px 160px 0 #c7e6e7,
    320px 160px 0 #c7e6e7, 328px 160px 0 #c7e6e7, 336px 160px 0 #c7e6e7,
    344px 160px 0 #c7e6e7, 352px 160px 0 #c7e6e7, 360px 160px 0 #c7e6e7,
    368px 160px 0 #c7e6e7, 376px 160px 0 #a8d8d8, 384px 160px 0 #ddeff0,
    8px 168px 0 #ddeff0, 16px 168px 0 #a8d8d8, 24px 168px 0 #bce1e2,
    32px 168px 0 #bce1e2, 40px 168px 0 #bce1e2, 48px 168px 0 #bce1e2,
    56px 168px 0 #bce1e2, 64px 168px 0 #bce1e2, 72px 168px 0 #bce1e2,
    80px 168px 0 #bce1e2, 88px 168px 0 #c7e6e7, 96px 168px 0 #c7e6e7,
    104px 168px 0 #c7e6e7, 112px 168px 0 #c7e6e7, 120px 168px 0 #c7e6e7,
    128px 168px 0 #c7e6e7, 136px 168px 0 #a8d8d8, 144px 168px 0 #a8d8d8,
    152px 168px 0 #a8d8d8, 160px 168px 0 #a8d8d8, 168px 168px 0 #a8d8d8,
    176px 168px 0 #a8d8d8, 184px 168px 0 #a8d8d8, 192px 168px 0 #a8d8d8,
    200px 168px 0 #a8d8d8, 208px 168px 0 #a8d8d8, 216px 168px 0 #a8d8d8,
    224px 168px 0 #a8d8d8, 232px 168px 0 #bce1e2, 240px 168px 0 #bce1e2,
    248px 168px 0 #bce1e2, 256px 168px 0 #bce1e2, 264px 168px 0 #bce1e2,
    272px 168px 0 #bce1e2, 280px 168px 0 #bce1e2, 288px 168px 0 #a8d8d8,
    296px 168px 0 #a8d8d8, 304px 168px 0 #a8d8d8, 312px 168px 0 #a8d8d8,
    320px 168px 0 #a8d8d8, 328px 168px 0 #c7e6e7, 336px 168px 0 #c7e6e7,
    344px 168px 0 #c7e6e7, 352px 168px 0 #c7e6e7, 360px 168px 0 #c7e6e7,
    368px 168px 0 #c7e6e7, 376px 168px 0 #a8d8d8, 384px 168px 0 #ddeff0,
    8px 176px 0 #ddeff0, 16px 176px 0 #a8d8d8, 24px 176px 0 #bce1e2,
    32px 176px 0 #bce1e2, 40px 176px 0 #bce1e2, 48px 176px 0 #bce1e2,
    56px 176px 0 #bce1e2, 64px 176px 0 #a8d8d8, 72px 176px 0 #a8d8d8,
    80px 176px 0 #a8d8d8, 88px 176px 0 #a8d8d8, 96px 176px 0 #c7e6e7,
    104px 176px 0 #c7e6e7, 112px 176px 0 #c7e6e7, 120px 176px 0 #c7e6e7,
    128px 176px 0 #c7e6e7, 136px 176px 0 #a8d8d8, 144px 176px 0 #a8d8d8,
    152px 176px 0 #a8d8d8, 160px 176px 0 #a8d8d8, 168px 176px 0 #a8d8d8,
    176px 176px 0 #a8d8d8, 184px 176px 0 #a8d8d8, 192px 176px 0 #a8d8d8,
    200px 176px 0 #a8d8d8, 208px 176px 0 #a8d8d8, 216px 176px 0 #a8d8d8,
    224px 176px 0 #a8d8d8, 232px 176px 0 #a8d8d8, 240px 176px 0 #bce1e2,
    248px 176px 0 #bce1e2, 256px 176px 0 #bce1e2, 264px 176px 0 #bce1e2,
    272px 176px 0 #bce1e2, 280px 176px 0 #a8d8d8, 288px 176px 0 #a8d8d8,
    296px 176px 0 #a8d8d8, 304px 176px 0 #a8d8d8, 312px 176px 0 #a8d8d8,
    320px 176px 0 #a8d8d8, 328px 176px 0 #a8d8d8, 336px 176px 0 #c7e6e7,
    344px 176px 0 #c7e6e7, 352px 176px 0 #c7e6e7, 360px 176px 0 #c7e6e7,
    368px 176px 0 #a8d8d8, 376px 176px 0 #a8d8d8, 384px 176px 0 #ddeff0,
    8px 184px 0 #ddeff0, 16px 184px 0 #a8d8d8, 24px 184px 0 #bce1e2,
    32px 184px 0 #bce1e2, 40px 184px 0 #bce1e2, 48px 184px 0 #bce1e2,
    56px 184px 0 #bce1e2, 64px 184px 0 #a8d8d8, 72px 184px 0 #a8d8d8,
    80px 184px 0 #a8d8d8, 88px 184px 0 #a8d8d8, 96px 184px 0 #c7e6e7,
    104px 184px 0 #c7e6e7, 112px 184px 0 #c7e6e7, 120px 184px 0 #c7e6e7,
    128px 184px 0 #c7e6e7, 136px 184px 0 #a8d8d8, 144px 184px 0 #a8d8d8,
    152px 184px 0 #a8d8d8, 160px 184px 0 #a8d8d8, 168px 184px 0 #a8d8d8,
    176px 184px 0 #a8d8d8, 184px 184px 0 #a8d8d8, 192px 184px 0 #a8d8d8,
    200px 184px 0 #a8d8d8, 208px 184px 0 #a8d8d8, 216px 184px 0 #a8d8d8,
    224px 184px 0 #a8d8d8, 232px 184px 0 #a8d8d8, 240px 184px 0 #bce1e2,
    248px 184px 0 #bce1e2, 256px 184px 0 #bce1e2, 264px 184px 0 #bce1e2,
    272px 184px 0 #bce1e2, 280px 184px 0 #a8d8d8, 288px 184px 0 #a8d8d8,
    296px 184px 0 #a8d8d8, 304px 184px 0 #a8d8d8, 312px 184px 0 #a8d8d8,
    320px 184px 0 #a8d8d8, 328px 184px 0 #a8d8d8, 336px 184px 0 #a8d8d8,
    344px 184px 0 #c7e6e7, 352px 184px 0 #c7e6e7, 360px 184px 0 #a8d8d8,
    368px 184px 0 #a8d8d8, 376px 184px 0 #a8d8d8, 384px 184px 0 #ddeff0,
    8px 192px 0 #ddeff0, 16px 192px 0 #a8d8d8, 24px 192px 0 #a8d8d8,
    32px 192px 0 #bce1e2, 40px 192px 0 #bce1e2, 48px 192px 0 #bce1e2,
    56px 192px 0 #a8d8d8, 64px 192px 0 #a8d8d8, 72px 192px 0 #a8d8d8,
    80px 192px 0 #a8d8d8, 88px 192px 0 #a8d8d8, 96px 192px 0 #c7e6e7,
    104px 192px 0 #c7e6e7, 112px 192px 0 #c7e6e7, 120px 192px 0 #c7e6e7,
    128px 192px 0 #c7e6e7, 136px 192px 0 #a8d8d8, 144px 192px 0 #a8d8d8,
    152px 192px 0 #a8d8d8, 160px 192px 0 #a8d8d8, 168px 192px 0 #a8d8d8,
    176px 192px 0 #a8d8d8, 184px 192px 0 #a8d8d8, 192px 192px 0 #a8d8d8,
    200px 192px 0 #a8d8d8, 208px 192px 0 #a8d8d8, 216px 192px 0 #a8d8d8,
    224px 192px 0 #a8d8d8, 232px 192px 0 #a8d8d8, 240px 192px 0 #a8d8d8,
    248px 192px 0 #a8d8d8, 256px 192px 0 #bce1e2, 264px 192px 0 #a8d8d8,
    272px 192px 0 #a8d8d8, 280px 192px 0 #a8d8d8, 288px 192px 0 #a8d8d8,
    296px 192px 0 #a8d8d8, 304px 192px 0 #a8d8d8, 312px 192px 0 #a8d8d8,
    320px 192px 0 #a8d8d8, 328px 192px 0 #a8d8d8, 336px 192px 0 #a8d8d8,
    344px 192px 0 #a8d8d8, 352px 192px 0 #a8d8d8, 360px 192px 0 #a8d8d8,
    368px 192px 0 #a8d8d8, 376px 192px 0 #c7e6e7, 384px 192px 0 #ddeff0,
    8px 200px 0 #ddeff0, 16px 200px 0 #a8d8d8, 24px 200px 0 #bce1e2,
    32px 200px 0 #bce1e2, 40px 200px 0 #bce1e2, 48px 200px 0 #a8d8d8,
    56px 200px 0 #a8d8d8, 64px 200px 0 #a8d8d8, 72px 200px 0 #a8d8d8,
    80px 200px 0 #a8d8d8, 88px 200px 0 #a8d8d8, 96px 200px 0 #a8d8d8,
    104px 200px 0 #a8d8d8, 112px 200px 0 #c7e6e7, 120px 200px 0 #a8d8d8,
    128px 200px 0 #a8d8d8, 136px 200px 0 #a8d8d8, 144px 200px 0 #a8d8d8,
    152px 200px 0 #a8d8d8, 160px 200px 0 #a8d8d8, 168px 200px 0 #a8d8d8,
    176px 200px 0 #a8d8d8, 184px 200px 0 #a8d8d8, 192px 200px 0 #a8d8d8,
    200px 200px 0 #a8d8d8, 208px 200px 0 #a8d8d8, 216px 200px 0 #a8d8d8,
    224px 200px 0 #a8d8d8, 232px 200px 0 #a8d8d8, 240px 200px 0 #a8d8d8,
    248px 200px 0 #a8d8d8, 256px 200px 0 #a8d8d8, 264px 200px 0 #a8d8d8,
    272px 200px 0 #a8d8d8, 280px 200px 0 #a8d8d8, 288px 200px 0 #a8d8d8,
    296px 200px 0 #a8d8d8, 304px 200px 0 #a8d8d8, 312px 200px 0 #a8d8d8,
    320px 200px 0 #a8d8d8, 328px 200px 0 #a8d8d8, 336px 200px 0 #a8d8d8,
    344px 200px 0 #a8d8d8, 352px 200px 0 #a8d8d8, 360px 200px 0 #a8d8d8,
    368px 200px 0 #c7e6e7, 376px 200px 0 #a8d8d8, 384px 200px 0 #ddeff0,
    8px 208px 0 #ddeff0, 16px 208px 0 #bce1e2, 24px 208px 0 #bce1e2,
    32px 208px 0 #bce1e2, 40px 208px 0 #a8d8d8, 48px 208px 0 #a8d8d8,
    56px 208px 0 #a8d8d8, 64px 208px 0 #a8d8d8, 72px 208px 0 #a8d8d8,
    80px 208px 0 #a8d8d8, 88px 208px 0 #a8d8d8, 96px 208px 0 #a8d8d8,
    104px 208px 0 #a8d8d8, 112px 208px 0 #a8d8d8, 120px 208px 0 #a8d8d8,
    128px 208px 0 #a8d8d8, 136px 208px 0 #a8d8d8, 144px 208px 0 #a8d8d8,
    152px 208px 0 #a8d8d8, 160px 208px 0 #a8d8d8, 168px 208px 0 #a8d8d8,
    176px 208px 0 #a8d8d8, 184px 208px 0 #a8d8d8, 192px 208px 0 #a8d8d8,
    200px 208px 0 #a8d8d8, 208px 208px 0 #a8d8d8, 216px 208px 0 #a8d8d8,
    224px 208px 0 #a8d8d8, 232px 208px 0 #a8d8d8, 240px 208px 0 #a8d8d8,
    248px 208px 0 #a8d8d8, 256px 208px 0 #a8d8d8, 264px 208px 0 #a8d8d8,
    272px 208px 0 #a8d8d8, 280px 208px 0 #a8d8d8, 288px 208px 0 #a8d8d8,
    296px 208px 0 #a8d8d8, 304px 208px 0 #a8d8d8, 312px 208px 0 #a8d8d8,
    320px 208px 0 #a8d8d8, 328px 208px 0 #a8d8d8, 336px 208px 0 #a8d8d8,
    344px 208px 0 #a8d8d8, 352px 208px 0 #a8d8d8, 360px 208px 0 #c7e6e7,
    368px 208px 0 #a8d8d8, 376px 208px 0 #c7e6e7, 384px 208px 0 #ddeff0,
    8px 216px 0 #ddeff0, 16px 216px 0 #bce1e2, 24px 216px 0 #bce1e2,
    32px 216px 0 #bce1e2, 40px 216px 0 #a8d8d8, 48px 216px 0 #a8d8d8,
    56px 216px 0 #a8d8d8, 64px 216px 0 #a8d8d8, 72px 216px 0 #a8d8d8,
    80px 216px 0 #a8d8d8, 88px 216px 0 #a8d8d8, 96px 216px 0 #a8d8d8,
    104px 216px 0 #a8d8d8, 112px 216px 0 #a8d8d8, 120px 216px 0 #a8d8d8,
    128px 216px 0 #a8d8d8, 136px 216px 0 #a8d8d8, 144px 216px 0 #a8d8d8,
    152px 216px 0 #a8d8d8, 160px 216px 0 #a8d8d8, 168px 216px 0 #a8d8d8,
    176px 216px 0 #a8d8d8, 184px 216px 0 #a8d8d8, 192px 216px 0 #a8d8d8,
    200px 216px 0 #a8d8d8, 208px 216px 0 #a8d8d8, 216px 216px 0 #a8d8d8,
    224px 216px 0 #a8d8d8, 232px 216px 0 #a8d8d8, 240px 216px 0 #a8d8d8,
    248px 216px 0 #a8d8d8, 256px 216px 0 #a8d8d8, 264px 216px 0 #a8d8d8,
    272px 216px 0 #a8d8d8, 280px 216px 0 #a8d8d8, 288px 216px 0 #a8d8d8,
    296px 216px 0 #a8d8d8, 304px 216px 0 #a8d8d8, 312px 216px 0 #a8d8d8,
    320px 216px 0 #a8d8d8, 328px 216px 0 #a8d8d8, 336px 216px 0 #a8d8d8,
    344px 216px 0 #a8d8d8, 352px 216px 0 #c7e6e7, 360px 216px 0 #a8d8d8,
    368px 216px 0 #c7e6e7, 376px 216px 0 #a8d8d8, 384px 216px 0 #ddeff0,
    8px 224px 0 #ddeff0, 16px 224px 0 #bce1e2, 24px 224px 0 #bce1e2,
    32px 224px 0 #bce1e2, 40px 224px 0 #a8d8d8, 48px 224px 0 #a8d8d8,
    56px 224px 0 #a8d8d8, 64px 224px 0 #a8d8d8, 72px 224px 0 #a8d8d8,
    80px 224px 0 #a8d8d8, 88px 224px 0 #a8d8d8, 96px 224px 0 #a8d8d8,
    104px 224px 0 #a8d8d8, 112px 224px 0 #a8d8d8, 120px 224px 0 #a8d8d8,
    128px 224px 0 #a8d8d8, 136px 224px 0 #a8d8d8, 144px 224px 0 #a8d8d8,
    152px 224px 0 #a8d8d8, 160px 224px 0 #a8d8d8, 168px 224px 0 #a8d8d8,
    176px 224px 0 #a8d8d8, 184px 224px 0 #a8d8d8, 192px 224px 0 #a8d8d8,
    200px 224px 0 #a8d8d8, 208px 224px 0 #a8d8d8, 216px 224px 0 #a8d8d8,
    224px 224px 0 #a8d8d8, 232px 224px 0 #a8d8d8, 240px 224px 0 #a8d8d8,
    248px 224px 0 #a8d8d8, 256px 224px 0 #a8d8d8, 264px 224px 0 #a8d8d8,
    272px 224px 0 #a8d8d8, 280px 224px 0 #a8d8d8, 288px 224px 0 #a8d8d8,
    296px 224px 0 #a8d8d8, 304px 224px 0 #a8d8d8, 312px 224px 0 #a8d8d8,
    320px 224px 0 #a8d8d8, 328px 224px 0 #a8d8d8, 336px 224px 0 #a8d8d8,
    344px 224px 0 #c7e6e7, 352px 224px 0 #a8d8d8, 360px 224px 0 #c7e6e7,
    368px 224px 0 #a8d8d8, 376px 224px 0 #c7e6e7, 384px 224px 0 #ddeff0,
    8px 232px 0 #ddeff0, 16px 232px 0 #bce1e2, 24px 232px 0 #a8d8d8,
    32px 232px 0 #bce1e2, 40px 232px 0 #a8d8d8, 48px 232px 0 #a8d8d8,
    56px 232px 0 #a8d8d8, 64px 232px 0 #a8d8d8, 72px 232px 0 #a8d8d8,
    80px 232px 0 #a8d8d8, 88px 232px 0 #a8d8d8, 96px 232px 0 #a8d8d8,
    104px 232px 0 #a8d8d8, 112px 232px 0 #a8d8d8, 120px 232px 0 #a8d8d8,
    128px 232px 0 #a8d8d8, 136px 232px 0 #a8d8d8, 144px 232px 0 #a8d8d8,
    152px 232px 0 #a8d8d8, 160px 232px 0 #a8d8d8, 168px 232px 0 #a8d8d8,
    176px 232px 0 #a8d8d8, 184px 232px 0 #a8d8d8, 192px 232px 0 #a8d8d8,
    200px 232px 0 #a8d8d8, 208px 232px 0 #a8d8d8, 216px 232px 0 #a8d8d8,
    224px 232px 0 #a8d8d8, 232px 232px 0 #a8d8d8, 240px 232px 0 #a8d8d8,
    248px 232px 0 #a8d8d8, 256px 232px 0 #a8d8d8, 264px 232px 0 #a8d8d8,
    272px 232px 0 #a8d8d8, 280px 232px 0 #a8d8d8, 288px 232px 0 #a8d8d8,
    296px 232px 0 #a8d8d8, 304px 232px 0 #a8d8d8, 312px 232px 0 #a8d8d8,
    320px 232px 0 #a8d8d8, 328px 232px 0 #a8d8d8, 336px 232px 0 #c7e6e7,
    344px 232px 0 #a8d8d8, 352px 232px 0 #c7e6e7, 360px 232px 0 #a8d8d8,
    368px 232px 0 #c7e6e7, 376px 232px 0 #a8d8d8, 384px 232px 0 #ddeff0,
    8px 240px 0 #ddeff0, 16px 240px 0 #bce1e2, 24px 240px 0 #bce1e2,
    32px 240px 0 #bce1e2, 40px 240px 0 #a8d8d8, 48px 240px 0 #a8d8d8,
    56px 240px 0 #a8d8d8, 64px 240px 0 #c7e6e7, 72px 240px 0 #a8d8d8,
    80px 240px 0 #a8d8d8, 88px 240px 0 #a8d8d8, 96px 240px 0 #a8d8d8,
    104px 240px 0 #a8d8d8, 112px 240px 0 #a8d8d8, 120px 240px 0 #a8d8d8,
    128px 240px 0 #a8d8d8, 136px 240px 0 #a8d8d8, 144px 240px 0 #a8d8d8,
    152px 240px 0 #a8d8d8, 160px 240px 0 #a8d8d8, 168px 240px 0 #a8d8d8,
    176px 240px 0 #a8d8d8, 184px 240px 0 #a8d8d8, 192px 240px 0 #a8d8d8,
    200px 240px 0 #a8d8d8, 208px 240px 0 #a8d8d8, 216px 240px 0 #a8d8d8,
    224px 240px 0 #a8d8d8, 232px 240px 0 #a8d8d8, 240px 240px 0 #a8d8d8,
    248px 240px 0 #a8d8d8, 256px 240px 0 #a8d8d8, 264px 240px 0 #a8d8d8,
    272px 240px 0 #a8d8d8, 280px 240px 0 #c7e6e7, 288px 240px 0 #c7e6e7,
    296px 240px 0 #c7e6e7, 304px 240px 0 #a8d8d8, 312px 240px 0 #a8d8d8,
    320px 240px 0 #a8d8d8, 328px 240px 0 #c7e6e7, 336px 240px 0 #a8d8d8,
    344px 240px 0 #c7e6e7, 352px 240px 0 #a8d8d8, 360px 240px 0 #c7e6e7,
    368px 240px 0 #a8d8d8, 376px 240px 0 #c7e6e7, 384px 240px 0 #ddeff0,
    16px 248px 0 #ddeff0, 24px 248px 0 #bce1e2, 32px 248px 0 #bce1e2,
    40px 248px 0 #a8d8d8, 48px 248px 0 #a8d8d8, 56px 248px 0 #a8d8d8,
    64px 248px 0 #c7e6e7, 72px 248px 0 #c7e6e7, 80px 248px 0 #a8d8d8,
    88px 248px 0 #a8d8d8, 96px 248px 0 #a8d8d8, 104px 248px 0 #a8d8d8,
    112px 248px 0 #a8d8d8, 120px 248px 0 #a8d8d8, 128px 248px 0 #a8d8d8,
    136px 248px 0 #a8d8d8, 144px 248px 0 #a8d8d8, 152px 248px 0 #a8d8d8,
    160px 248px 0 #a8d8d8, 168px 248px 0 #a8d8d8, 176px 248px 0 #a8d8d8,
    184px 248px 0 #a8d8d8, 192px 248px 0 #a8d8d8, 200px 248px 0 #a8d8d8,
    208px 248px 0 #a8d8d8, 216px 248px 0 #a8d8d8, 224px 248px 0 #a8d8d8,
    232px 248px 0 #a8d8d8, 240px 248px 0 #a8d8d8, 248px 248px 0 #a8d8d8,
    256px 248px 0 #a8d8d8, 264px 248px 0 #c7e6e7, 272px 248px 0 #c7e6e7,
    280px 248px 0 #c7e6e7, 288px 248px 0 #c7e6e7, 296px 248px 0 #a8d8d8,
    304px 248px 0 #c7e6e7, 312px 248px 0 #a8d8d8, 320px 248px 0 #c7e6e7,
    328px 248px 0 #a8d8d8, 336px 248px 0 #c7e6e7, 344px 248px 0 #a8d8d8,
    352px 248px 0 #c7e6e7, 360px 248px 0 #a8d8d8, 368px 248px 0 #c7e6e7,
    376px 248px 0 #ddeff0, 16px 256px 0 #ddeff0, 24px 256px 0 #a8d8d8,
    32px 256px 0 #bce1e2, 40px 256px 0 #bce1e2, 48px 256px 0 #a8d8d8,
    56px 256px 0 #c7e6e7, 64px 256px 0 #c7e6e7, 72px 256px 0 #c7e6e7,
    80px 256px 0 #c7e6e7, 88px 256px 0 #c7e6e7, 96px 256px 0 #c7e6e7,
    104px 256px 0 #c7e6e7, 112px 256px 0 #c7e6e7, 120px 256px 0 #c7e6e7,
    128px 256px 0 #c7e6e7, 136px 256px 0 #c7e6e7, 144px 256px 0 #a8d8d8,
    152px 256px 0 #a8d8d8, 160px 256px 0 #a8d8d8, 168px 256px 0 #a8d8d8,
    176px 256px 0 #a8d8d8, 184px 256px 0 #a8d8d8, 192px 256px 0 #a8d8d8,
    200px 256px 0 #a8d8d8, 208px 256px 0 #a8d8d8, 216px 256px 0 #a8d8d8,
    224px 256px 0 #a8d8d8, 232px 256px 0 #a8d8d8, 240px 256px 0 #c7e6e7,
    248px 256px 0 #c7e6e7, 256px 256px 0 #c7e6e7, 264px 256px 0 #c7e6e7,
    272px 256px 0 #c7e6e7, 280px 256px 0 #c7e6e7, 288px 256px 0 #a8d8d8,
    296px 256px 0 #c7e6e7, 304px 256px 0 #a8d8d8, 312px 256px 0 #c7e6e7,
    320px 256px 0 #a8d8d8, 328px 256px 0 #c7e6e7, 336px 256px 0 #a8d8d8,
    344px 256px 0 #c7e6e7, 352px 256px 0 #a8d8d8, 360px 256px 0 #c7e6e7,
    368px 256px 0 #a8d8d8, 376px 256px 0 #ddeff0, 24px 264px 0 #ddeff0,
    32px 264px 0 #bce1e2, 40px 264px 0 #bce1e2, 48px 264px 0 #a8d8d8,
    56px 264px 0 #c7e6e7, 64px 264px 0 #c7e6e7, 72px 264px 0 #c7e6e7,
    80px 264px 0 #c7e6e7, 88px 264px 0 #c7e6e7, 96px 264px 0 #c7e6e7,
    104px 264px 0 #c7e6e7, 112px 264px 0 #c7e6e7, 120px 264px 0 #c7e6e7,
    128px 264px 0 #c7e6e7, 136px 264px 0 #c7e6e7, 144px 264px 0 #c7e6e7,
    152px 264px 0 #a8d8d8, 160px 264px 0 #a8d8d8, 168px 264px 0 #a8d8d8,
    176px 264px 0 #a8d8d8, 184px 264px 0 #a8d8d8, 192px 264px 0 #a8d8d8,
    200px 264px 0 #a8d8d8, 208px 264px 0 #a8d8d8, 216px 264px 0 #a8d8d8,
    224px 264px 0 #a8d8d8, 232px 264px 0 #a8d8d8, 240px 264px 0 #a8d8d8,
    248px 264px 0 #c7e6e7, 256px 264px 0 #c7e6e7, 264px 264px 0 #a8d8d8,
    272px 264px 0 #c7e6e7, 280px 264px 0 #a8d8d8, 288px 264px 0 #c7e6e7,
    296px 264px 0 #a8d8d8, 304px 264px 0 #c7e6e7, 312px 264px 0 #bce1e2,
    320px 264px 0 #c7e6e7, 328px 264px 0 #a8d8d8, 336px 264px 0 #c7e6e7,
    344px 264px 0 #a8d8d8, 352px 264px 0 #c7e6e7, 360px 264px 0 #a8d8d8,
    368px 264px 0 #ddeff0, 24px 272px 0 #ddeff0, 32px 272px 0 #bce1e2,
    40px 272px 0 #bce1e2, 48px 272px 0 #a8d8d8, 56px 272px 0 #a8d8d8,
    64px 272px 0 #c7e6e7, 72px 272px 0 #c7e6e7, 80px 272px 0 #c7e6e7,
    88px 272px 0 #c7e6e7, 96px 272px 0 #c7e6e7, 104px 272px 0 #c7e6e7,
    112px 272px 0 #c7e6e7, 120px 272px 0 #c7e6e7, 128px 272px 0 #c7e6e7,
    136px 272px 0 #c7e6e7, 144px 272px 0 #c7e6e7, 152px 272px 0 #a8d8d8,
    160px 272px 0 #a8d8d8, 168px 272px 0 #a8d8d8, 176px 272px 0 #a8d8d8,
    184px 272px 0 #a8d8d8, 192px 272px 0 #a8d8d8, 200px 272px 0 #a8d8d8,
    208px 272px 0 #a8d8d8, 216px 272px 0 #a8d8d8, 224px 272px 0 #a8d8d8,
    232px 272px 0 #a8d8d8, 240px 272px 0 #a8d8d8, 248px 272px 0 #a8d8d8,
    256px 272px 0 #c7e6e7, 264px 272px 0 #c7e6e7, 272px 272px 0 #a8d8d8,
    280px 272px 0 #c7e6e7, 288px 272px 0 #a8d8d8, 296px 272px 0 #a8d8d8,
    304px 272px 0 #a8d8d8, 312px 272px 0 #bce1e2, 320px 272px 0 #a8d8d8,
    328px 272px 0 #c7e6e7, 336px 272px 0 #a8d8d8, 344px 272px 0 #c7e6e7,
    352px 272px 0 #a8d8d8, 360px 272px 0 #c7e6e7, 368px 272px 0 #ddeff0,
    32px 280px 0 #ddeff0, 40px 280px 0 #bce1e2, 48px 280px 0 #bce1e2,
    56px 280px 0 #a8d8d8, 64px 280px 0 #c7e6e7, 72px 280px 0 #c7e6e7,
    80px 280px 0 #c7e6e7, 88px 280px 0 #c7e6e7, 96px 280px 0 #c7e6e7,
    104px 280px 0 #c7e6e7, 112px 280px 0 #c7e6e7, 120px 280px 0 #c7e6e7,
    128px 280px 0 #c7e6e7, 136px 280px 0 #c7e6e7, 144px 280px 0 #a8d8d8,
    152px 280px 0 #a8d8d8, 160px 280px 0 #a8d8d8, 168px 280px 0 #a8d8d8,
    176px 280px 0 #a8d8d8, 184px 280px 0 #a8d8d8, 192px 280px 0 #a8d8d8,
    200px 280px 0 #a8d8d8, 208px 280px 0 #a8d8d8, 216px 280px 0 #a8d8d8,
    224px 280px 0 #a8d8d8, 232px 280px 0 #a8d8d8, 240px 280px 0 #a8d8d8,
    248px 280px 0 #a8d8d8, 256px 280px 0 #a8d8d8, 264px 280px 0 #a8d8d8,
    272px 280px 0 #a8d8d8, 280px 280px 0 #a8d8d8, 288px 280px 0 #a8d8d8,
    296px 280px 0 #c7e6e7, 304px 280px 0 #a8d8d8, 312px 280px 0 #bce1e2,
    320px 280px 0 #a8d8d8, 328px 280px 0 #c7e6e7, 336px 280px 0 #c7e6e7,
    344px 280px 0 #a8d8d8, 352px 280px 0 #c7e6e7, 360px 280px 0 #ddeff0,
    32px 288px 0 #ddeff0, 40px 288px 0 #bce1e2, 48px 288px 0 #bce1e2,
    56px 288px 0 #a8d8d8, 64px 288px 0 #c7e6e7, 72px 288px 0 #c7e6e7,
    80px 288px 0 #c7e6e7, 88px 288px 0 #c7e6e7, 96px 288px 0 #a8d8d8,
    104px 288px 0 #a8d8d8, 112px 288px 0 #a8d8d8, 120px 288px 0 #a8d8d8,
    128px 288px 0 #a8d8d8, 136px 288px 0 #a8d8d8, 144px 288px 0 #a8d8d8,
    152px 288px 0 #a8d8d8, 160px 288px 0 #a8d8d8, 168px 288px 0 #a8d8d8,
    176px 288px 0 #a8d8d8, 184px 288px 0 #a8d8d8, 192px 288px 0 #a8d8d8,
    200px 288px 0 #a8d8d8, 208px 288px 0 #a8d8d8, 216px 288px 0 #a8d8d8,
    224px 288px 0 #a8d8d8, 232px 288px 0 #a8d8d8, 240px 288px 0 #a8d8d8,
    248px 288px 0 #a8d8d8, 256px 288px 0 #a8d8d8, 264px 288px 0 #a8d8d8,
    272px 288px 0 #c7e6e7, 280px 288px 0 #a8d8d8, 288px 288px 0 #c7e6e7,
    296px 288px 0 #a8d8d8, 304px 288px 0 #c7e6e7, 312px 288px 0 #a8d8d8,
    320px 288px 0 #c7e6e7, 328px 288px 0 #a8d8d8, 336px 288px 0 #c7e6e7,
    344px 288px 0 #c7e6e7, 352px 288px 0 #c7e6e7, 360px 288px 0 #ddeff0,
    40px 296px 0 #ddeff0, 48px 296px 0 #bce1e2, 56px 296px 0 #a8d8d8,
    64px 296px 0 #a8d8d8, 72px 296px 0 #c7e6e7, 80px 296px 0 #c7e6e7,
    88px 296px 0 #a8d8d8, 96px 296px 0 #a8d8d8, 104px 296px 0 #a8d8d8,
    112px 296px 0 #a8d8d8, 120px 296px 0 #a8d8d8, 128px 296px 0 #a8d8d8,
    136px 296px 0 #a8d8d8, 144px 296px 0 #a8d8d8, 152px 296px 0 #a8d8d8,
    160px 296px 0 #a8d8d8, 168px 296px 0 #a8d8d8, 176px 296px 0 #a8d8d8,
    184px 296px 0 #a8d8d8, 192px 296px 0 #a8d8d8, 200px 296px 0 #a8d8d8,
    208px 296px 0 #a8d8d8, 216px 296px 0 #a8d8d8, 224px 296px 0 #a8d8d8,
    232px 296px 0 #a8d8d8, 240px 296px 0 #a8d8d8, 248px 296px 0 #a8d8d8,
    256px 296px 0 #a8d8d8, 264px 296px 0 #c7e6e7, 272px 296px 0 #a8d8d8,
    280px 296px 0 #c7e6e7, 288px 296px 0 #a8d8d8, 296px 296px 0 #c7e6e7,
    304px 296px 0 #a8d8d8, 312px 296px 0 #c7e6e7, 320px 296px 0 #a8d8d8,
    328px 296px 0 #c7e6e7, 336px 296px 0 #c7e6e7, 344px 296px 0 #c7e6e7,
    352px 296px 0 #ddeff0, 40px 304px 0 #ddeff0, 48px 304px 0 #bce1e2,
    56px 304px 0 #bce1e2, 64px 304px 0 #a8d8d8, 72px 304px 0 #c7e6e7,
    80px 304px 0 #a8d8d8, 88px 304px 0 #a8d8d8, 96px 304px 0 #a8d8d8,
    104px 304px 0 #a8d8d8, 112px 304px 0 #a8d8d8, 120px 304px 0 #a8d8d8,
    128px 304px 0 #a8d8d8, 136px 304px 0 #a8d8d8, 144px 304px 0 #a8d8d8,
    152px 304px 0 #bce1e2, 160px 304px 0 #bce1e2, 168px 304px 0 #bce1e2,
    176px 304px 0 #a8d8d8, 184px 304px 0 #a8d8d8, 192px 304px 0 #a8d8d8,
    200px 304px 0 #a8d8d8, 208px 304px 0 #a8d8d8, 216px 304px 0 #a8d8d8,
    224px 304px 0 #a8d8d8, 232px 304px 0 #bce1e2, 240px 304px 0 #bce1e2,
    248px 304px 0 #bce1e2, 256px 304px 0 #c7e6e7, 264px 304px 0 #a8d8d8,
    272px 304px 0 #c7e6e7, 280px 304px 0 #a8d8d8, 288px 304px 0 #c7e6e7,
    296px 304px 0 #a8d8d8, 304px 304px 0 #c7e6e7, 312px 304px 0 #a8d8d8,
    320px 304px 0 #c7e6e7, 328px 304px 0 #c7e6e7, 336px 304px 0 #c7e6e7,
    344px 304px 0 #c7e6e7, 352px 304px 0 #ddeff0, 48px 312px 0 #ddeff0,
    56px 312px 0 #a8d8d8, 64px 312px 0 #a8d8d8, 72px 312px 0 #a8d8d8,
    80px 312px 0 #a8d8d8, 88px 312px 0 #a8d8d8, 96px 312px 0 #a8d8d8,
    104px 312px 0 #a8d8d8, 112px 312px 0 #a8d8d8, 120px 312px 0 #a8d8d8,
    128px 312px 0 #a8d8d8, 136px 312px 0 #a8d8d8, 144px 312px 0 #a8d8d8,
    152px 312px 0 #bce1e2, 160px 312px 0 #bce1e2, 168px 312px 0 #bce1e2,
    176px 312px 0 #bce1e2, 184px 312px 0 #bce1e2, 192px 312px 0 #bce1e2,
    200px 312px 0 #bce1e2, 208px 312px 0 #bce1e2, 216px 312px 0 #bce1e2,
    224px 312px 0 #bce1e2, 232px 312px 0 #bce1e2, 240px 312px 0 #bce1e2,
    248px 312px 0 #c7e6e7, 256px 312px 0 #a8d8d8, 264px 312px 0 #c7e6e7,
    272px 312px 0 #a8d8d8, 280px 312px 0 #c7e6e7, 288px 312px 0 #a8d8d8,
    296px 312px 0 #c7e6e7, 304px 312px 0 #a8d8d8, 312px 312px 0 #c7e6e7,
    320px 312px 0 #c7e6e7, 328px 312px 0 #c7e6e7, 336px 312px 0 #c7e6e7,
    344px 312px 0 #ddeff0, 56px 320px 0 #ddeff0, 64px 320px 0 #a8d8d8,
    72px 320px 0 #a8d8d8, 80px 320px 0 #a8d8d8, 88px 320px 0 #a8d8d8,
    96px 320px 0 #a8d8d8, 104px 320px 0 #a8d8d8, 112px 320px 0 #a8d8d8,
    120px 320px 0 #a8d8d8, 128px 320px 0 #a8d8d8, 136px 320px 0 #a8d8d8,
    144px 320px 0 #a8d8d8, 152px 320px 0 #a8d8d8, 160px 320px 0 #bce1e2,
    168px 320px 0 #bce1e2, 176px 320px 0 #bce1e2, 184px 320px 0 #bce1e2,
    192px 320px 0 #bce1e2, 200px 320px 0 #bce1e2, 208px 320px 0 #bce1e2,
    216px 320px 0 #a8d8d8, 224px 320px 0 #bce1e2, 232px 320px 0 #bce1e2,
    240px 320px 0 #c7e6e7, 248px 320px 0 #bce1e2, 256px 320px 0 #c7e6e7,
    264px 320px 0 #bce1e2, 272px 320px 0 #c7e6e7, 280px 320px 0 #a8d8d8,
    288px 320px 0 #c7e6e7, 296px 320px 0 #a8d8d8, 304px 320px 0 #c7e6e7,
    312px 320px 0 #c7e6e7, 320px 320px 0 #c7e6e7, 328px 320px 0 #c7e6e7,
    336px 320px 0 #ddeff0, 64px 328px 0 #ddeff0, 72px 328px 0 #a8d8d8,
    80px 328px 0 #a8d8d8, 88px 328px 0 #a8d8d8, 96px 328px 0 #a8d8d8,
    104px 328px 0 #a8d8d8, 112px 328px 0 #a8d8d8, 120px 328px 0 #a8d8d8,
    128px 328px 0 #a8d8d8, 136px 328px 0 #a8d8d8, 144px 328px 0 #a8d8d8,
    152px 328px 0 #a8d8d8, 160px 328px 0 #a8d8d8, 168px 328px 0 #a8d8d8,
    176px 328px 0 #a8d8d8, 184px 328px 0 #a8d8d8, 192px 328px 0 #a8d8d8,
    200px 328px 0 #a8d8d8, 208px 328px 0 #bce1e2, 216px 328px 0 #c7e6e7,
    224px 328px 0 #c7e6e7, 232px 328px 0 #c7e6e7, 240px 328px 0 #bce1e2,
    248px 328px 0 #c7e6e7, 256px 328px 0 #bce1e2, 264px 328px 0 #c7e6e7,
    272px 328px 0 #bce1e2, 280px 328px 0 #c7e6e7, 288px 328px 0 #bce1e2,
    296px 328px 0 #c7e6e7, 304px 328px 0 #c7e6e7, 312px 328px 0 #c7e6e7,
    320px 328px 0 #c7e6e7, 328px 328px 0 #ddeff0, 72px 336px 0 #ddeff0,
    80px 336px 0 #a8d8d8, 88px 336px 0 #a8d8d8, 96px 336px 0 #a8d8d8,
    104px 336px 0 #a8d8d8, 112px 336px 0 #a8d8d8, 120px 336px 0 #a8d8d8,
    128px 336px 0 #a8d8d8, 136px 336px 0 #a8d8d8, 144px 336px 0 #a8d8d8,
    152px 336px 0 #a8d8d8, 160px 336px 0 #a8d8d8, 168px 336px 0 #a8d8d8,
    176px 336px 0 #a8d8d8, 184px 336px 0 #a8d8d8, 192px 336px 0 #a8d8d8,
    200px 336px 0 #c7e6e7, 208px 336px 0 #a8d8d8, 216px 336px 0 #c7e6e7,
    224px 336px 0 #a8d8d8, 232px 336px 0 #c7e6e7, 240px 336px 0 #a8d8d8,
    248px 336px 0 #c7e6e7, 256px 336px 0 #a8d8d8, 264px 336px 0 #c7e6e7,
    272px 336px 0 #a8d8d8, 280px 336px 0 #c7e6e7, 288px 336px 0 #a8d8d8,
    296px 336px 0 #c7e6e7, 304px 336px 0 #c7e6e7, 312px 336px 0 #c7e6e7,
    320px 336px 0 #ddeff0, 80px 344px 0 #ddeff0, 88px 344px 0 #a8d8d8,
    96px 344px 0 #a8d8d8, 104px 344px 0 #a8d8d8, 112px 344px 0 #a8d8d8,
    120px 344px 0 #a8d8d8, 128px 344px 0 #a8d8d8, 136px 344px 0 #a8d8d8,
    144px 344px 0 #bce1e2, 152px 344px 0 #bce1e2, 160px 344px 0 #a8d8d8,
    168px 344px 0 #a8d8d8, 176px 344px 0 #bce1e2, 184px 344px 0 #bce1e2,
    192px 344px 0 #bce1e2, 200px 344px 0 #a8d8d8, 208px 344px 0 #c7e6e7,
    216px 344px 0 #a8d8d8, 224px 344px 0 #c7e6e7, 232px 344px 0 #a8d8d8,
    240px 344px 0 #c7e6e7, 248px 344px 0 #a8d8d8, 256px 344px 0 #c7e6e7,
    264px 344px 0 #a8d8d8, 272px 344px 0 #c7e6e7, 280px 344px 0 #a8d8d8,
    288px 344px 0 #c7e6e7, 296px 344px 0 #c7e6e7, 304px 344px 0 #c7e6e7,
    312px 344px 0 #ddeff0, 88px 352px 0 #ddeff0, 96px 352px 0 #ddeff0,
    104px 352px 0 #a8d8d8, 112px 352px 0 #a8d8d8, 120px 352px 0 #a8d8d8,
    128px 352px 0 #bce1e2, 136px 352px 0 #bce1e2, 144px 352px 0 #bce1e2,
    152px 352px 0 #bce1e2, 160px 352px 0 #bce1e2, 168px 352px 0 #c7e6e7,
    176px 352px 0 #bce1e2, 184px 352px 0 #bce1e2, 192px 352px 0 #a8d8d8,
    200px 352px 0 #c7e6e7, 208px 352px 0 #a8d8d8, 216px 352px 0 #c7e6e7,
    224px 352px 0 #a8d8d8, 232px 352px 0 #c7e6e7, 240px 352px 0 #a8d8d8,
    248px 352px 0 #c7e6e7, 256px 352px 0 #a8d8d8, 264px 352px 0 #c7e6e7,
    272px 352px 0 #c7e6e7, 280px 352px 0 #c7e6e7, 288px 352px 0 #c7e6e7,
    296px 352px 0 #ddeff0, 304px 352px 0 #ddeff0, 104px 360px 0 #ddeff0,
    112px 360px 0 #ddeff0, 120px 360px 0 #a8d8d8, 128px 360px 0 #bce1e2,
    136px 360px 0 #bce1e2, 144px 360px 0 #bce1e2, 152px 360px 0 #bce1e2,
    160px 360px 0 #bce1e2, 168px 360px 0 #bce1e2, 176px 360px 0 #bce1e2,
    184px 360px 0 #a8d8d8, 192px 360px 0 #c7e6e7, 200px 360px 0 #a8d8d8,
    208px 360px 0 #c7e6e7, 216px 360px 0 #a8d8d8, 224px 360px 0 #c7e6e7,
    232px 360px 0 #a8d8d8, 240px 360px 0 #c7e6e7, 248px 360px 0 #a8d8d8,
    256px 360px 0 #c7e6e7, 264px 360px 0 #c7e6e7, 272px 360px 0 #c7e6e7,
    280px 360px 0 #ddeff0, 288px 360px 0 #ddeff0, 120px 368px 0 #ddeff0,
    128px 368px 0 #ddeff0, 136px 368px 0 #c7e6e7, 144px 368px 0 #a8d8d8,
    152px 368px 0 #c7e6e7, 160px 368px 0 #a8d8d8, 168px 368px 0 #c7e6e7,
    176px 368px 0 #a8d8d8, 184px 368px 0 #c7e6e7, 192px 368px 0 #a8d8d8,
    200px 368px 0 #c7e6e7, 208px 368px 0 #a8d8d8, 216px 368px 0 #c7e6e7,
    224px 368px 0 #a8d8d8, 232px 368px 0 #c7e6e7, 240px 368px 0 #c7e6e7,
    248px 368px 0 #c7e6e7, 256px 368px 0 #c7e6e7, 264px 368px 0 #ddeff0,
    272px 368px 0 #ddeff0, 136px 376px 0 #ddeff0, 144px 376px 0 #ddeff0,
    152px 376px 0 #ddeff0, 160px 376px 0 #d2eaeb, 168px 376px 0 #d2eaeb,
    176px 376px 0 #d2eaeb, 184px 376px 0 #d2eaeb, 192px 376px 0 #d2eaeb,
    200px 376px 0 #d2eaeb, 208px 376px 0 #d2eaeb, 216px 376px 0 #d2eaeb,
    224px 376px 0 #d2eaeb, 232px 376px 0 #d2eaeb, 240px 376px 0 #ddeff0,
    248px 376px 0 #ddeff0, 256px 376px 0 #ddeff0, 160px 384px 0 #ddeff0,
    168px 384px 0 #ddeff0, 176px 384px 0 #ddeff0, 184px 384px 0 #ddeff0,
    192px 384px 0 #ddeff0, 200px 384px 0 #ddeff0, 208px 384px 0 #ddeff0,
    216px 384px 0 #ddeff0, 224px 384px 0 #ddeff0, 232px 384px 0 #ddeff0;
    animation: increaseSize 9s ease-in-out forwards;
}

@keyframes increaseSize {
  0% {
    width: 0;
    height: 0;
  }

  100% {
    width: 9px;
    /* Adjust the final width as needed */
    height: 9px;
    /* Adjust the final height as needed */
  }
}
