.popup-container{
    position: fixed;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        /* Semi-transparent white background for the overlay */
        backdrop-filter: blur(10px);
        /* Apply a blur effect to the background */
        display: flex;
        justify-content: center;
        align-items: center;
}

.popup-board{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    border: 10px solid #381a04;
    background-color: #764521;
    width: 50%;
    height: 50%;
    border-radius: 50px;
}