.tower-container{
    width: 20%;
    height: 100%;
    border: 2px solid red;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.tower-top{
    margin: 0;
    padding: 0;
}
.tower-bottom{
    margin: 0;
        padding: 0;
}

.top-img{
    width: 90%;
}
.bottom-img{
    width: 90%;
}

.tower-center{
    border: 2px solid red;
    width: 50%;
    height: 100%;
}