.addtowerbtn-container{
    border: 2px solid red;
    width: 20%;
        height: 80%;
        padding: 20px;
        display: flex;
        align-items: center;
        justify-content: center;
}
.addtower-opaque{
    border: 2px solid black;
    height: 50%;
    width: 80%;
}